<h1>3D Carousel Slider</h1>
<br>
<section id="slider">
  <!-- <input type="radio" name="slider" id="s1" checked>
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3">
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5"> -->
  <ng-container *ngFor="let song of songs; let i=index">
    <input type="radio" name="slider" [id]="'s'+(i+1)" [checked]="i==0" >
  </ng-container>
  
  <ng-container *ngFor="let song of songs; let i=index">
    <label [for]="'s'+(i+1)" [id]="'slide'+(i+1)">
      <img [src]="song.picture">
      <span>Foto de {{ song.author }}: {{ song.url }}</span>
    </label>
  </ng-container>
  <!-- <label for="s1" id="slide1">
    Foto de Jaime Reimer: https://www.pexels.com/es-es/foto/hermosa-vista-del-lago-moraine-2662116/
    <img
      src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </label>
  <label for="s2" id="slide2">
    Foto de Pixabay: https://www.pexels.com/es-es/foto/fondo-de-pantalla-de-galaxia-gris-y-negro-2150/
    <img
      src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </label>
  <label for="s3" id="slide3">
    Foto de Chait Goli: https://www.pexels.com/es-es/foto/foto-de-tipi-en-un-cielo-estrellado-2666598/
    <img
      src="https://images.pexels.com/photos/2666598/pexels-photo-2666598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </label>
  <label for="s4" id="slide4">
    Foto de Riccardo Bertolo: https://www.pexels.com/es-es/foto/mar-azul-bajo-cielo-azul-4245826/
    <img
      src="https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </label>
  <label for="s5" id="slide5">
    Foto de Dianne: https://www.pexels.com/es-es/foto/cuerpo-de-agua-clara-230629/
    <img
      src="https://images.pexels.com/photos/230629/pexels-photo-230629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </label> -->
</section>